---
layout: default
title: Home
services:
 - image: /images/website-project-12.jpg
   service: Wellness Coaching
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sed officiis sapiente voluptatum provident tenetur, dolores quasi accusantium cum magnam minima, eius rem maiores autem earum eveniet reiciendis quisquam molestiae.
 - image: /images/website-project-4.jpg
   service: Online Classes
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sed officiis sapiente voluptatum provident tenetur, dolores quasi accusantium cum magnam minima, eius rem maiores autem earum eveniet reiciendis quisquam molestiae.
 - image: /images/website-project-11.jpg
   service: Ayurvedic Retreat
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sed officiis sapiente voluptatum provident tenetur, dolores quasi accusantium cum magnam minima, eius rem maiores autem earum eveniet reiciendis quisquam molestiae.
recipes:
 - featured_image: /images/website-project-15.jpg
   name: Salad
 - featured_image: /images/website-project-14.jpg
   name: Yogi Soup
 - featured_image: /images/website-project-16.jpg
   name: Ayurvedic Oats
 - featured_image: /images/website-project-20.jpg
   name: Kapha Salad
 - featured_image: /images/website-project-19.jpg
   name: Spring Soup
 - featured_image: /images/website-project-23.jpg
   name: Ojas Tonic
 - featured_image: /images/website-project-24.jpg
   name: Overnight Oats
---

    <!-- Page Content -->
     <!-- Header -->
     <header class=>

        {% include header-nav.html%}

        <div class="grid-right tall-90 sm-tall-80 xs-tall-70 bg-image bg-backbend">
            <!-- <div class="col-6_xs-12"></div> -->
            <div data-aos="fade" data-aos-duration="3000" class="col-6_xs-12-middle xs-padded-5">
                <h2 class="xs-text-3">Ayurvedic
                <br>Wellness Coaching</h2>
                <h5 class="lowercase xs-text-1">Modern application of ancient wisdom</h5>
            </div>
        </div>
     </header>

     <!-- Banner -->
     <section class="bg-image bg-plant center padded-5">
        <p class="text-1-5 xs-text-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, nostrum, sint cumque quisquam et officia quia culpa, officiis quas totam ratione reiciendis distinctio assumenda excepturi suscipit provident? Numquam, ratione totam!</p>
     </section>

     <!-- About Section -->
     <section class="grid-spaceBetween sm-padded-5" id="about">
        <img data-aos="fade-up" src="/images/website-project-1.jpg" class="col-4_xs-12 padded-5 sm-padded-0 xs-padded-10">
        <div data-aos="fade-up" class="col-5_sm-8_xs-12-middle padded-5-r sm-padded-5-l xs-padded-10-l xs-padded-10-r xs-padded-10-b">
            <h3 class="lowercase">About me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi facilis nulla accusantium minima eius id inventore amet, possimus, veritatis, quisquam laboriosam totam molestias. Quibusdam quaerat voluptatem, rem libero sunt dicta.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque cumque velit ad itaque omnis voluptatum nam mollitia sint, cupiditate exercitationem culpa corporis numquam eius beatae fuga eaque. Ratione, atque animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consequatur tempora, suscipit libero saepe delectus molestiae ipsa sequi a voluptatem deserunt sint earum dicta rerum id soluta, laudantium, quod quisquam!</p>
        </div>
        <div class="col-3 bg-image bg-bowl hide-sm"></div>
     </section>

     <!-- Services Section -->
     <section class="grid padded-5 bg-light">
        <h3 data-aos="fade-up" class="col-12 center">Offerings</h3>
        <!-- Services Cards -->
        {% for item in page.services %}
        <div data-aos="fade-up" data-aos-delay="500" class="col-4_xs-12 center padded-5">
            <img src="{{item.image}}" class="img-card">
            <h4>{{item.service}}</h4>
            <p>{{item.description}}</p>
            <a href="#" class="button">Explore</a>
        </div>
        {% endfor %}
     </section> 

     <!-- Facebook Section -->
     <section class="grid">
        <div class="col-6_xs-5 bg-image bg-hands tall-70"></div>
        <div data-aos="fade-left" class="col-6_xs-7-middle padded-5">
            <h3 class="lowercase">Join the community</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur asperiores sapiente quas id temporibus ullam a rem. Atque nostrum quam eos, rem voluptates nobis? Odit nesciunt quae rerum atque vero?</p>
            <a href="#" class="button">Join</a>
        </div>
     </section>

     <!-- Lead Magnet Section -->
     <section class="padded-5 bg-dark center" id="ebook">
        <div data-aos="fade" data-aos-offset="150">
            <h3 class="lowercase white xs-text-2">Get my free Ayurvedic mealplan</h3>
            <p class="feature">Eating for your dosha can be hard.  Make life easy and download my 1-week mealplan that includes a grocery list and recipes.</p>
            <form>
                <input type="text" name="_name" placeholder="First Name">
                <input type="text" name="_name" placeholder="Last Name">
                <input type="email" name="_replyto" placeholder="Your Email">
                <button class="button" type="submit">Get it now!</button>
            </form>
        </div>
     </section>

     <!-- Recipes Section -->
     <section data-aos="fade" class="padded-5-t-b" id="recipes">
        <h3 class="center lowercase">Modern Ayurvedic Recipes</h3>
        <div class="featured-gallery grid"> 
            <!-- Recipe -->
            {% for item in page.recipes %}
            <div class="col-2 margin-5-r sm-margin-1-r">
                <div class="featured-image sm-tall-30 xs-tall-18" style="background-image: url('{{item.featured_image}}')"></div>
                <a href="#" class="block heading-text">{{item.name}}</a>
            </div>
            {% endfor %}
        </div>
        <div class="center">&#10229; &#160; &#160; &#160; &#10230;</div>
    </section>