/* Colors */

/* Typography
font-family: 'Nunito Sans', sans-serif;
font-family: 'GFS Didot', serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    padding: 0;
}

Temporary Styles
header {border: 1px solid grey;}
section {border: 1px solid grey;}
div {border: 1px solid grey;}
footer {border: 1px solid grey;}

/* Universal Styles */
body {
    font-family: 'Nunito Sans', sans-serif;
}

/* Reusable Utility Classes */

/* Images */