<nav class="grid">
    <h1 class="col-3_sm-11-middle lowercase"><a href="/index.html">In.Balance</a></h1>
    <div class="col-9-middle right hide-md">
        <a href="#about">About</a>
        <a href="/offerings.html">Work with me</a>
        <a href="#ebook">ebook</a>
        <a href="#recipes">Recipes</a>
        <a href="#contact">Contact</a>
    </div>
</nav>

<div class="col-1 show-md">
    <div class="mobile-button">
        <span class="mobile-top"></span>
        <span class="mobile-middle"></span>
        <span class="mobile-bottom"></span>
    </div>
</div>

<div class="mobile-menu">
    <a href="/index.html">Home</a>
    <a href="#">About</a>
    <a href="/offerings.html">Work with me</a>
    <a href="#">ebook</a>
    <a href="#">Recipies</a>
    <a href="#">Contact</a>
 </div>
</nav>